root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# 4 space indentation
[*.{html,php,json}]
indent_style = space
indent_size = 4

# 2 space indentation
[*.{js,css,scss,vue}]
indent_style = space
indent_size = 2
